body{
    background-color: #a598ee;
}
.styling{
   margin-top: 100px;
   padding-top: 10%;
   padding-bottom: 10%; 
   padding-left: 30%;
   padding-right: 30%;

}
.buttoncolor{
    background: #63c76a;
}